@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;600;700&display=swap");

:root {
	--kek: #5ccac3;
	--szurke: #3e3e3e;
}

body {
	margin: 0;
	padding: 0;

	font-family: "Bitter", "serif";
}

.nav {
	width: 100vw;
	height: 40vh;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 2.5fr 1fr;
	grid-template-areas:
		"bar"
		"dropdown";
}

.navbar-bar {
	grid-area: bar;
	background-color: white;

	width: 100%;
	height: 100%;
	position: relative;

	svg {
		height: 80%;
		width: 100%;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		display: block;
		margin: auto;
	}

	#felirat {
		fill: var(--szurke);
	}

	#tomlo {
		fill: var(--kek);
	}
}

.navbar-dropdown {
	grid-area: dropdown;
	background-color: var(--kek);

	position: relative;
	display: inline-block;

	svg {
		height: 70%;
		width: 100%;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		display: block;
		margin: auto;
		fill: white;
	}
}

.dropdown-content {
	display: flex;
	flex-direction: column;
	position: relative;

	height: 0%;
	background-color: var(--kek);

	a {
		display: block;
		visibility: hidden;
		transition: all 1s ease;
		background-color: none;

		text-decoration: none;
		font-size: 1.5rem;
		margin: 0 auto;
		padding: 0.5rem 0;

		color: var(--szurke);

		width: 100%;
	}

	a:nth-child(odd) {
		background-color: #4eada7;

		transition: all 1s ease;
	}

	transition: all 0.5s ease;
}

.dropdown-content.open {
	height: 100%;

	a {
		display: block;
		visibility: visible;
	}
}
