@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;600;700&display=swap");
:root {
  --kek: #5ccac3;
  --select: #469993;
  --szurke: #3e3e3e;
  --atmenet: linear-gradient(to bottom right, #5ccac3, #55ffc2);
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Bitter", "serif";
}

.head {
  width: 100vw;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: auto;
  position: fixed;
  z-index: 2;
  top: 0;
  background-color: white;
  border-bottom: 0.5rem solid;
  border-image-slice: 1;
  border-image-source: var(--atmenet);
}

.head svg {
  height: 3rem;
  width: 100%;
  margin: 0 auto;
}

.head svg #felirat {
  fill: var(--szurke);
}

.head svg #tomlo {
  fill: var(--atmenet);
}

.top {
  margin-top: 4rem;
}

.navbar {
  width: 100vw;
  height: 5rem;
  background-image: var(--atmenet);
  position: fixed;
  bottom: 0;
  padding: 0;
}

.navbar ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 5rem;
      grid-template-rows: 5rem;
  place-items: center;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  list-style-type: none;
  width: 100%;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.navbar ul li svg {
  width: 3rem;
  height: auto;
  margin: 0 auto;
  fill: white;
  -webkit-transition: fill 0.2s ease;
  transition: fill 0.2s ease;
}

.navbar ul li p {
  margin: 0 auto;
  font-size: 70%;
  color: white;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.navbar ul li.selected {
  background-color: var(--select);
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.navbar ul li.selected svg {
  fill: var(--szurke);
  -webkit-transition: fill 0.2s ease;
  transition: fill 0.2s ease;
}

.navbar ul li.selected p {
  color: var(--szurke);
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.feature {
  width: 100vw;
  height: calc(100vh - 9.5rem);
  margin: 4.5rem 0 0;
  position: relative;
  overflow: hidden;
}

.feature .content {
  height: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
}

.feature .content .svg-container {
  height: 7rem;
  width: 7rem;
  background-image: var(--atmenet);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature .content .svg-container svg.contact {
  height: 5rem;
  width: auto;
  fill: szurke;
}

.feature .content ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.feature .content ul .title {
  font-weight: 500;
  border-bottom: 0.2rem solid;
  border-image-slice: 1;
  border-image-source: var(--atmenet);
}

.feature .content ul li {
  margin: 1rem 0 0;
  font-size: 1.5rem;
}

.feature .benzinkut {
  height: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: -30px center;
     object-position: -30px center;
}
/*# sourceMappingURL=main.css.map */