@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;600;700&display=swap");
@import "animations";

:root {
	--kek: #5ccac3;
	--select: #469993;
	--szurke: #3e3e3e;

	font-size: 16px;
}

body {
	margin: 0;
	padding: 0;

	font-family: "Bitter", "serif";
}

.head {
	width: 100vw;
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: auto;
	position: fixed;

	border-bottom: 0.5rem solid var(--kek);

	svg {
		height: 3rem;
		width: 100%;

		margin: 0 auto;

		#felirat {
			fill: var(--szurke);
		}

		#tomlo {
			fill: var(--kek);
		}
	}
}

.navbar {
	width: 100vw;
	height: 5rem;
	background-color: var(--kek);

	position: fixed;
	bottom: 0;
	padding: 0;
	ul {
		display: grid;

		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 5rem;
		place-items: center;

		margin: 0;
		padding: 0;

		li {
			list-style-type: none;
			width: 100%;
			height: 5rem;

			display: flex;
			flex-direction: column;
			justify-content: center;
			align-content: center;
			text-align: center;

			svg {
				width: 3rem;
				height: auto;

				margin: 0 auto;
				fill: white;

				transition: fill 0.2s ease;
			}

			p {
				margin: 0 auto;
				font-size: 70%;
				color: white;

				transition: color 0.2s ease;
			}

			transition: background-color 0.2s ease;
		}

		li.selected {
			background-color: var(--select);

			transition: background-color 0.2s ease;

			svg {
				fill: var(--szurke);

				transition: fill 0.2s ease;
			}

			p {
				color: var(--szurke);

				transition: color 0.2s ease;
			}
		}
	}
}
