@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
}

.harmas {
  grid-template-columns: 1fr 8fr 1fr;
}

.mobile-nav {
  width: 75%;
  height: 100vh;
  transition: left 0.65s ease;
}
