@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
:after,
:before {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
}

html {
	font-size: 16px;
	font-family: "Montserrat", sans-serif;

	--zold1: #66f4db;
	--zold2: #c2ffe9;
	--szurke: #3e3e3e;

	::-webkit-scrollbar {
		width: 10px;
	}

	::-webkit-scrollbar-track {
		background: #f1f1f1;
	}

	::-webkit-scrollbar-thumb {
		background: #888;
	}

	::-webkit-scrollbar-thumb:hover {
		background: #555;
	}
}

body {
	padding: 0;
	margin: 0;
}

nav {
	width: 100%;
	height: clamp(1.5rem, 3.5rem, 5rem);
	background-color: white;
	display: flex;

	svg {
		display: block;
		padding: 0;
		height: 90%;
		width: 90%;
		margin: auto auto;
		padding: 0.5rem;
	}
}

.hero {
	display: block;
	width: auto;

	.hero-image {
		width: 100%;
		height: auto;
		object-fit: cover;
	}

	.wave {
		width: 100%;
		height: 8rem;
		svg {
			width: 100%;
			height: 8rem;
			margin-top: -2rem;
			z-index: 2;
		}
	}
}

.pattern {
	background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='26' height='26' patternTransform='scale(1) rotate(20)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M10-6V6M10 14v12M26 10H14M6 10H-6' transform='translate(3,0)' stroke-linecap='square' stroke-width='1' stroke='hsla(169, 87%, 68%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
	position: relative;
	z-index: -2;

	margin-top: -8rem;

	.grid-container {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 24rem repeat(2, 20rem);
		grid-auto-flow: row;

		padding-top: 12rem;

		align-items: center;
		justify-items: center;

		position: relative;
		z-index: -1;

		.info1 {
			display: flex;
			justify-content: center;
			align-items: center;

			width: 100%;
			height: 100%;
			position: relative;
			padding: 0;
			z-index: 1;

			.box {
				background-color: var(--szurke);
				margin: 0 auto;
				padding: 1rem;
				color: white;
				border-radius: 5%;
				position: absolute;

				height: auto;
				min-width: 20%;
				max-width: 80%;

				align-content: center;

				&::after {
					width: 100%;
					height: 100%;
					content: "";
					background-color: var(--zold1);
					border-radius: 5%;
					position: absolute;

					left: 0.5rem;
					top: 0.5rem;

					z-index: -1;
				}

				&::before {
					width: 100%;
					height: 100%;
					content: "";
					background-color: var(--zold2);
					border-radius: 5%;
					position: absolute;

					left: 1rem;
					top: 1rem;

					z-index: -1;
				}
			}
		}

		.feature {
			display: block;
			height: auto;
			width: 100%;

			.feature-image-wrapper {
				width: 10rem;
				height: 10rem;
				border-radius: 8rem;
				border: 0.25rem solid var(--zold1);
				overflow: hidden;
				object-fit: fill;
				margin: auto auto;

				img {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}
