@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.section-scroll {
  background-image: url("../svg/hatter.svg");
}

html ::-webkit-scrollbar {
  width: 10px;
}
html ::-webkit-scrollbar-track {
  background: #f1f1f1;
}
html ::-webkit-scrollbar-thumb {
  background: #888;
}
html ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.harmas {
  grid-template-columns: 1fr 8fr 1fr;
}

.mobile-nav {
  width: 75%;
  height: 100vh;
  transition: left 0.65s ease;
}
